In [1]:
#Integers

x = 14
print(x)
print(type(x))

14
<class 'int'>

In [2]:
#Flaot
pi = 3.14
print(pi)
print(type(pi))

3.14
<class 'float'>

In [3]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [4]:
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [5]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

In [6]:
#Booleans

z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [7]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [8]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [9]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [10]:
#Strings

w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [11]:
print(len(w))

14

In [12]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [13]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [14]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [15]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [19]:
# Can't multiply two string. But can multiply a string with an integer (can't multiply by float)

newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [20]:
#Functions used above.

# type()
# float(), conversion function
# len()

In [21]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer with the int function
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

In [22]:
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1
1
-3
-2

In [24]:
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

3
-3.1
<class 'str'>
0

In [25]:
# When you multiple an integer or float by a boolean with value True, it just returns that same integer or float 
# (and is equivalent to multiplying by 1). 

#If you multiply an integer or float by a boolean with value False, it always returns 0. 
# This is true for both positive and negative numbers. 

# If you multiply a string by a boolean with value True, it just returns that same string. 
# And if you multiply a string by a boolean with value False, it returns an empty string (or a string with length zero).

In [27]:
#Treats False as 0 and truth as 1

print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3